[core]
  autocrlf = input
  safecrlf = false
  ignorecase = false
  filemode = false
  whitespace = trailing-space,space-before-tab
  precomposeunicode = true
  quotepath = false
  editor = vim
  excludesfile = .gitignore
  attributesfile = .gitattributes
  autocrlf = input
  safecrlf = false
  ignorecase = false
  filemode = false
  whitespace = trailing-space,space-before-tab
  precomposeunicode = true
  quotepath = false
  editor = vim
  excludesfile = .gitignore
  attributesfile = .gitattributes 